.menu__link{
    color: black;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s all;
}

/* rgb(24, 88, 134) */

.activo{
    font-weight: bold;
}

.menu__link:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;

}